.page-container {
  padding: 30px;
  background: #f5f6fa;
  min-height: 100vh;
  transition: 0.3s;

  &.dark {
    background: #1f1f23;
    color: #eee;

    .card {
      background: #2b2b31;
    }

    .header {
      background: #2b2b31;
    }

    .mat-form-field-outline {
      color: white !important;
    }
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 22px 28px;
  border-radius: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,.08);
  margin-bottom: 26px;

  h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .theme-toggle mat-icon {
    font-size: 26px;
  }
}

/* CARD PRINCIPAL */
.card {
  background: white;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 4px 14px rgba(0,0,0,.06);
}

.card h2 {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
}

/* FILTROS */
.filters {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .filter {
    min-width: 260px;
    flex: 1;
  }
}

/* TABLE */
.table-wrapper {
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
}

table {
  width: 100%;
}

mat-header-cell {
  font-weight: 700;
  background: #fafafa;
  font-size: 14px;
}

.clickable {
  cursor: pointer;
  font-weight: 600;
  color: #4f46e5;

  &:hover {
    text-decoration: underline;
  }
}

/* STATUS */
.status-chip {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;

  &.active {
    background: #d1fae5;
    color: #065f46;
  }

  &.inactive {
    background: #fee2e2;
    color: #b91c1c;
  }
}

.actions button {
  margin-right: 6px;
}
